@page
@model Proveedores.ListaProveedorModel

@{
    ViewData["Title"] = "Lista Proveedores";
}

@section Scripts {
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
}
<!-- DataTales -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tabla Proveedores</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th>Email</th>
                        <th>Enlace de Contacto</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Nombre</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Enlace de Contacto</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model.Proveedor)
                    {
                        <tr>
                            <td>@Html.DisplayFor(x => item.Nombre)</td>
                            <td>@Html.DisplayFor(x => item.Direccion)</td>
                            <td>@Html.DisplayFor(x => item.Telefono)</td>
                            <td>@Html.DisplayFor(x => item.Correo)</td>
                            @if(item.Enlace != "" && item.Enlace != null){
                            <td>@Html.Raw("<a href=\""+item.Enlace+"\" target=\"_blank\"><button class=\"btn btn-success\">Ir</button></a>")</td>
                            }else{
                                <td></td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- End Datatables -->