@page
@model Proveedores.ListaProveedorModel

@{
ViewData["Title"] = "Lista de Proveedores";
}
<!-- DataTales -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Datos</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <label class="col-lg-1 col-form-label">Mostrar </label>
            <select>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
            </select>
            <label class="col-lg-2 col-form-label">Registros</label>
        </div>
        <div class="table-responsive pt-3">
            <table class="table table-sm table-hover bg-white" cellspacing="0">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Teléfonos</th>
                        <th>Correo</th>
                        <th>Estado</th>
                        <th>Web</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody id="tblproveedores">
                    @foreach (var item in Model.Proveedor)
                    {
                    <tr>
                        <td>
                            <label class="col-form-label">
                                @Html.DisplayFor(x => item.Nombre)
                            </label>
                        </td>
                        <td>
                            <label class="col-form-label">
                                @Html.DisplayFor(x => item.Direccion)
                            </label>
                        </td>
                        <td>
                            <label class="row col-form-label" data-idp="@item.Id">
                            @if(item.Telefono.Count > 0){
                                foreach(var tel in item.Telefono){
                                    if(tel.Principal == 1){
                                        <span class="col-lg-10 p-0">
                                            @Html.DisplayFor(y => tel.Numero)
                                        </span>
                                        <span>
                                            <i class="fas fa-ellipsis-h text-primary mano m-0"></i>
                                        </span>
                                        break;
                                    }
                                }
                            }else{
                                <span class="col-lg-9 p-0">
                                    Añadir teléfonos
                                </span>
                                <span>
                                    <i class="fas fa-plus text-primary mano m-0"></i>
                                </span>
                            }
                            </label>
                        </td>
                        <td class="px-3">
                            <label class="col-form-label">
                                @Html.DisplayFor(x => item.Correo)
                            </label>
                        </td>
                        <td>
                            @if(item.Estado == 1){
                            <div class="col-form-label custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="@item.Id" checked>
                                <label class="custom-control-label" for="@item.Id">Activo</label>
                            </div>
                            }else{
                            if(item.Estado == 0){
                            <div class="col-form-label custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="@item.Id">
                                <label class="custom-control-label" for="@item.Id">Inactivo</label>
                            </div>
                            }
                            }
                        </td>
                        <td>
                            @if(item.Enlace != "" && item.Enlace != null){
                            <label class="col-form-label">
                                <a href="@item.Enlace" target="_blank">
                                    <button class="btn btn-outline-success">Ir</button>
                                </a>
                            </label>
                            }
                        </td>
                        <td>
                            <label class="col-form-label">
                                <a class="btn btn-outline-success" asp-page="/Proveedores/ModificarProveedor"
                                    asp-route-id="@item.Id">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                            </label>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <form method="post">
            <input type="text" id="Id" hidden>
            <input type="text" id="Estado" hidden>
        </form>
        <div class="row">
            <div class="col offset-5">
                <nav aria-label="Paginacion ">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Anterior</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Siguiente</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<template>

</template>
<!-- End Datatables -->
@section modal
{
<div class="modal fade" id="tefonosModal" tabindex="-1" role="dialog" aria-labelledby="companiaModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="companiaModalLabel">Lista Telefonos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalCuerpo">
                <div class="table-responsive pt-3">
                    <table class="table table-sm table-hover bg-white" cellspacing="0">
                        <thead class="thead-dark">
                            <tr>
                                <th>Numero</th>
                                <th>Principal</th>
                                <th>Modificar</th>
                            </tr>
                        </thead>
                        <tbody id="tbltelefonos" data-idtprov="">
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-outline-success" id="newtel"><i class="fas fa-plus-circle"></i>
                                        Nuevo</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<template id="tempdel">
    <div class="btn-group" id="divelim" data-toggle="tooltip" data-placement="bottom" title="Realmente desea eliminar este teléfono?">
        <button class="btn btn-outline-success" type="button" data-selim="" id="btnsi"><i class="fas fa-check"></i></button>
        <button class="btn btn-outline-dark" type="button" data-nelim="" id="btno"><i class="fas fa-times"></i></button>
    </div>
</template>
<template id="temprest">
    <div class="btn-group">
        <button type="button" class="btn btn-outline-warning">
            <i class="fas fa-pencil-alt" data-tid=""></i>
        </button>
        <button type="button" class="btn btn-outline-danger">
            <i class="fas fa-trash" data-elim=""></i>
        </button>
    </div>
</template>
}
@section Scripts
{
<link href="~/selectric/src/selectric.css" rel="stylesheet">
<script src="~/selectric/src/jquery.selectric.js"></script>
<script>
    $(function () {
        $('select').selectric();
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    var NewTel = document.querySelector("#newtel");
    var tbProv = document.querySelector("#tblproveedores");
    let tbTels = document.querySelector("#tbltelefonos");
    var IdProvActual;
    var tdparent;
    var idtel;
    //Esta funcion controla los eventos click que preparan los elementos para sus respectivas modificaciones
    tbTels.addEventListener("click", (e) => {
        var element = e.target;
        if (element.classList.contains("custom-control-input")) {
            ModEstTel(element);
        } else {
            if (element.classList.contains("btn-outline-warning") || element.classList.contains("fa-pencil-alt")) {
                modTel(element.firstElementChild);
            }else{
                if(element.classList.contains("btn-outline-danger")){
                    tdparent = element.parentNode.parentNode;
                    EliminarTel(element.firstElementChild);
                }else{
                    if(element.classList.contains("fa-trash")){
                        tdparent = element.parentNode.parentNode.parentNode
                        EliminarTel(element);
                    }
                }
            }
        }
    });
    function EliminarTel(element){
        let tempdel = document.querySelector("#tempdel");
        let clon = tempdel.content.cloneNode(true);
        idtel = element.getAttribute("data-elim");
        clon.firstElementChild.firstElementChild.setAttribute("data-selim", idtel);
        tdparent.innerHTML = "";
        tdparent.appendChild(clon);
        $('#divelim').tooltip('show');
        var btno = document.querySelector("#btno");
        var btnsi = document.querySelector("#btnsi");
        if(btno){
            btno.addEventListener("click", ()=>{
                $('#divelim').tooltip('hide');
                let temprest = document.querySelector("#temprest");
                let clon = temprest.content.cloneNode(true);
                clon.firstElementChild.children[0].setAttribute("data-tid", "t "+idtel);
                clon.firstElementChild.children[1].setAttribute("data-elim", idtel);
                tdparent.innerHTML = "";
                tdparent.appendChild(clon);
            });
        }
        if(btnsi){
            btnsi.addEventListener("click", function(e){
                console.log(e);
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        $('#divelim').tooltip('hide');
                        let tbody = document.querySelector("#tbltelefonos");
                        tbody.innerHTML = this.responseText;
                        if(tbody.children.length != 0){
                            ActPpal();
                        }else{
                            console.log(IdProvActual);
                            var lba = document.querySelector("label[data-idp='"+IdProvActual+"']");
                            lba.innerHTML = '<span class="col-lg-9 p-0">Añadir teléfonos</span><span><i class="fas fa-plus text-primary mano m-0"></i></span>';
                        }
                        $('#tefonosModal').modal('show');
                    }
                };
                xhttp.open("POST", "ListaProveedor?handler=DelTelefono", true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                var inputToken = document.getElementsByName("__RequestVerificationToken");
                xhttp.setRequestHeader("RequestVerificationToken", inputToken[0].value);
                xhttp.send("IdTelefono=" + idtel);
            });
        }
    }
    NewTel.addEventListener("click", NuevoCompTel);
    tbProv.addEventListener("click", procesar);
    function RegistrarNewTel(e){
        console.log(e);
        var inputTel = document.querySelector("#inputnewtel");
        if(inputTel){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var telefono = JSON.parse(this.responseText);
                    if(telefono != "Error"){
                        var tbt = document.querySelector("#tbltelefonos");
                        var tr = tbt.children[tbt.children.length - 1];
                        tr.children[0].innerHTML = '<input type="text" class="form-control" value="'+telefono.numero+'" data-n="'+telefono.numero+'" id="t '+telefono.id+'" disabled>';
                        if(telefono.principal == 1){
                            tr.children[1].innerHTML = '<div class="custom-control custom-switch text-center">'
                                +'<input type="checkbox" class="custom-control-input" id="i '+telefono.id+'" data-number="'+telefono.numero+'" data-idprov="'+telefono.idProveedor+'" checked>'
                                +'<label class="custom-control-label" for="i '+telefono.id+'"></label>'
                            +'</div>';
                            ActPpal();
                        }else{
                            tr.children[1].innerHTML = '<div class="custom-control custom-switch text-center">'
                                +'<input type="checkbox" class="custom-control-input" id="i '+telefono.id+'" data-number="'+telefono.numero+'" data-idprov="'+telefono.idProveedor+'">'
                                +'<label class="custom-control-label" for="i '+telefono.id+'"></label>'
                            +'</div>';
                        }
                        tr.children[2].innerHTML = '<div class="btn-group">'
                            +'<button type="button" class="btn btn-outline-warning">'
                                +'<i class="fas fa-pencil-alt" data-tid="t '+telefono.id+'"></i>'
                            +'</button>'
                            +'<button type="button" class="btn btn-outline-danger">'
                                +'<i class="fas fa-trash" data-elim="'+telefono.id+'"></i>'
                            +'</button>'
                        +'</div>';
                    }
                }
            };
            xhttp.open("POST", "ListaProveedor?handler=RegistroTel", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            var inputToken = document.getElementsByName("__RequestVerificationToken");
            xhttp.setRequestHeader("RequestVerificationToken", inputToken[0].value);
            xhttp.send("IdProveedor=" + IdProvActual + "&Telefono="+inputTel.value);
        }
    }
    function ActPpal(){
        var num = document.querySelector("td div.custom-control.custom-switch.text-center input[checked]");
        var tel = document.querySelector('label[data-idp="'+num.getAttribute("data-idprov")+'"]');
        tel.children[0].innerHTML = num.getAttribute("data-number");
        tel.children[1].innerHTML = '<i class="fas fa-ellipsis-h text-primary mano m-0"></i>';
    }
    function NuevoCompTel(){
        var tr = document.createElement("tr");
        var tdtel = document.createElement("td");
        tdtel.innerHTML = '<input type="text" class="form-control" maxlength="9" value="" id="inputnewtel">';
        tr.appendChild(tdtel);
        tr.appendChild(document.createElement("td"));
        var tdopc = document.createElement("td");
        tdopc.innerHTML =
        '<div class="btn-group">'
            +'<button type="button" class="btn btn-outline-info" id="acpttel">'
                +'<i class="fas fa-check-circle"></i>'
            +'</button>'
            +'<button type="button" class="btn btn-outline-dark" id="canceltel">'
                +'<i class="fas fa-times-circle"></i>'
            +'</button>'
        +'</div>';
        tr.appendChild(tdopc);
        var tbtel =document.querySelector("#tbltelefonos");
        tbtel.appendChild(tr);
        var btnacept = document.querySelector("#acpttel");
        if(btnacept){
            btnacept.addEventListener("click", RegistrarNewTel);
        }
        var btnacept = document.querySelector("#canceltel");
        if(btnacept){
            btnacept.addEventListener("click", ()=>{
                tbtel.removeChild(tbtel.lastElementChild);
            });
        }
    }
    function procesar(ev) {
        var element = ev.target;
        if (element.classList.contains("custom-control-input")) {
            var Label = element.nextElementSibling;
            if (element.checked) {
                OnActivo(element.id, Label, 1);
            } else {
                OnActivo(element.id, Label, 0);
            }
        } else {
            if (element.classList.contains("fa-ellipsis-h") || element.classList.contains("fa-plus")) {
                IdProvActual = element.parentNode.parentNode.getAttribute("data-idp");
                genTels(element.parentNode.parentNode);
            }
        }
    }

    function OnActivo(id, label, estado) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if (estado == 1) {
                    label.innerHTML = "Activo";
                } else {
                    label.innerHTML = "Inactivo";
                }
            }
        };
        xhttp.open("POST", "ListaProveedor", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var inputToken = document.getElementsByName("__RequestVerificationToken");
        xhttp.setRequestHeader("RequestVerificationToken", inputToken[0].value);
        xhttp.send("id=" + id + "&estado=" + estado);
    }

    //Esta funcion genera el modal con todos los numero de telefonos
    //relacionados con un proveedor seleccionado
    function genTels(iItem) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.querySelector("#tbltelefonos").innerHTML = this.responseText;
                $('#tefonosModal').modal('show');
            }
        };
        xhttp.open("POST", "ListaProveedor?handler=Telefono", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var inputToken = document.getElementsByName("__RequestVerificationToken");
        xhttp.setRequestHeader("RequestVerificationToken", inputToken[0].value);
        xhttp.send("IdProveedor=" + iItem.getAttribute("data-idp"));
    }
    function ModEstTel(element) {
        var id = element.id.substring(2, element.id.length);
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.querySelector("#tbltelefonos").innerHTML = this.responseText;
                ActPpal();
            }
        };
        xhttp.open("POST", "ListaProveedor?handler=EstadoTelefono", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var inputToken = document.getElementsByName("__RequestVerificationToken");
        xhttp.setRequestHeader("RequestVerificationToken", inputToken[0].value);
        xhttp.send("IdTelefono=" + id);
    }

    //Esta parte nos permitira modificar un numero de telefono seleccionado
    function modTel(iSel) {
        let tbTels = document.querySelector("#tbltelefonos");
        var InputCheck = tbTels.querySelectorAll("input.form-control");
        for (var i = 0; i < InputCheck.length; i++) {
            InputCheck[i].blur();
            InputCheck[i].setAttribute("disabled", "");
        }
        var inputSel = document.getElementById(iSel.getAttribute("data-tid"));
        inputSel.removeAttribute("disabled");
        inputSel.focus();
        inputSel.setAttribute("data-toggle", "tooltip");
        inputSel.setAttribute("data-placement", "top");
        inputSel.setAttribute("title", "Enter para efectuar los cambios");
        inputSel.addEventListener("blur", () => {
            inputSel.blur();
            inputSel.setAttribute("disabled", "");
            inputSel.value = inputSel.getAttribute("data-n");
        });
        inputSel.addEventListener("keydown", actNum);
    }
    function actNum(eve) {
        if ("Enter" == eve.code) {
            var input = eve.target;
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.querySelector("#tbltelefonos").innerHTML = this.responseText;
                    ActPpal();
                }
            };
            xhttp.open("POST", "ListaProveedor?handler=NumTelefono", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            var inputToken = document.getElementsByName("__RequestVerificationToken");
            xhttp.setRequestHeader("RequestVerificationToken", inputToken[0].value);
            xhttp.send("IdTelefono=" + (input.id.substring(2, input.id.length)) + "&Numero=" + input.value);
        }
    }
</script>
}