@model MiBitacoraModel;
@foreach (var Bitacora in Model.Bitacoras)
{
    <div class="card">
        <div class="card-header color-head" id="heading-@Bitacora.Id">
            <h2 class="mb-0">
                <button class="btn btn-bit collapsed" type="button" data-toggle="collapse"
                    data-target="#collapse-@Bitacora.Id" aria-controls="collapse-@Bitacora.Id">
                    @if(DateTime.MinValue.Date.ToString("dd/MM/yyyy").Equals(Bitacora.CierreSesion.Date.ToString("dd/MM/yyyy"))){
                        <span> @Bitacora.InicioSesion.ToString("dd/MM/yyy") (@Bitacora.InicioSesion.ToString("hh:mm tt") - en curso) </span>
                    }else{
                        @if(Bitacora.InicioSesion.Date.CompareTo(Bitacora.CierreSesion.Date) != 0){
                            <span> @Bitacora.InicioSesion.ToString("dd/MM/yyyy hh:mm tt") - @Bitacora.CierreSesion.ToString("dd/MM/yyyy hh:mm tt")</span>
                        }else{
                            <span> @Bitacora.InicioSesion.ToString("dd/MM/yyy") (@Bitacora.InicioSesion.ToString("hh:mm tt") - @Bitacora.CierreSesion.ToString("hh:mm tt")) </span>
                        }
                    }<i class="fas fa-chevron-down"></i>
                </button>
            </h2>
        </div>
        <div id="collapse-@Bitacora.Id" class="collapse" aria-labelledby="heading-@Bitacora.Id">
            <div class="card-body">
                <div class="col-lg-12 contenedor">
                    <div class="box">
                            @if(Bitacora.Accion.Count == 0){
                                <label class="text-white">Sin acciones</label>
                            }else{
                                <ul id="first-list">
                                    @foreach (var accion in Bitacora.Accion)
                                    {

                                        <li>
                                            <span></span>
                                            <div class="info">@accion.Descripcion</div>
                                            <div class="time">
                                                <span>@accion.Hora.ToString("dd, MM")</span>
                                                <span>@accion.Hora.ToString("hh:mm tt")</span>
                                            </div>
                                        </li>   
                                    }
                                </ul>
                            }
                    </div>
                </div>
            </div>
        </div>
    </div>    
}