@page
@model ListaVentaModel;
@{
    ViewData["Title"] = "Ventas";
}
<style>
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        background-color: #1597a8;
        color: white;
    }
</style>
<div class="card shadow mb-4">
    <form method="post"></form>
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Datos</h6>
    </div>
    <div class="row">
    <div class="px-5 col-lg-6 form-inline">
        <div class="form-group">
            <label for="Desde">Desde</label>
            <input type="date" id="Desde" name="Desde" class="form-control form-control-sm mx-sm-3" />
            <label for="Hasta">Hasta</label>
            <input type="date" id="Hasta" name="Hasta" class="form-control form-control-sm mx-sm-3" />
        </div>
    </div>
    <div class="px-4 col-lg-5 pt-3">
        <div class="form-group row">
            <label for="Empleado" class="col-lg-3 col-form-label">Empleado</label>
            <div class="col-lg-9">
                <select name="Empleado" id="Empleado">
                    <option disabled>-- Seleccione --</option>
                    <option value="">Juan Perez</option>
                    <option value="">Mariela Ramirez</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-lg-1 pt-4">
            <a href='#' class="text-info" title="Sin filtro"><i class="fas fa-redo-alt"></i></a>
    </div>
</div>
<div class="px-4">
    <table class="table table-sm table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Empleado</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Total $</th>
            </tr>
        </thead>
        <tbody id="tbVentas">
            @foreach(var item in Model.Ventas){
                <tr>
                    <td>@item.Fecha.ToString("dd/MM/yyyy mm:ss")</td>
                    <td>@item.IdUsuarioNavigation.Empleado.IdPersonaNavigation.Nombres 
                        @item.IdUsuarioNavigation.Empleado.IdPersonaNavigation.Apellidos
                    </td>
                    <td>$ @item.montoTotal()</td>
                    <td><a href='#' data-toggle="modal" data-target="#modalDetalle" class="text-info" data-idventa="@item.Id"><i
                            class="fas fa-list"></i> Detalles</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
</div>
@section modal {
<div class="modal fade" id="modalDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header bg-primary text-white">
                <h4 class="modal-title">Detalle de Venta</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body" id="mbDetalle">
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" id="btnCerrar"><i
                        class="fas fa-times-circle"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>
}
@section Scripts {
<link href="~/selectric/src/selectric.css" rel="stylesheet">
<script src="~/selectric/src/jquery.selectric.js"></script>
<script>
    $(function () {
        $('select').selectric();
    });
    var tbVentas = document.querySelector("#tbVentas");
    tbVentas.addEventListener("click", (e)=>{
        var element = e.target;
        var id = element.getAttribute("data-idventa");
        if(id){
            mostrarDetalle(id);
        }
    });
    function mostrarDetalle(id){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4) {
                if (this.status == 200) {
                    var bModel = document.querySelector("#mbDetalle");
                    bModel.innerHTML = this.response;
                } else {
                }
            }
        };
        xhttp.open("POST", "ListaVenta?handler=Detalle", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var inputToken = document.getElementsByName("__RequestVerificationToken");
        xhttp.setRequestHeader("RequestVerificationToken", inputToken[0].value);
        xhttp.send("idVenta="+id);
    }
</script>
}