@page
@model Empleados.BitacoraViewModel;

@{
    ViewData["title"] = "Actividad de " + Model.Empleado.IdPersonaNavigation.Nombres + " " + Model.Empleado.IdPersonaNavigation.Apellidos;
}

<div class="row">
    <label class="offset-lg-4 h3">Criterios de Busqueda</label>
</div>
<div class="row">
    <input asp-for="@Model.Empleado.IdUsuarioNavigation.Id" id="idusuario" hidden>
    <input value="@Model.Empleado.IdPersonaNavigation.NombreCompleto()" id="nombre" hidden>
    <input type="text" id="opc" hidden = "one">
    <label class="col-form-label pl-3">Por Fecha: </label>
    <div class="form-group pr-5 pl-4">
        <label for="desde" class="col-form-label"></label>
        <input type="date" id="desde" class="form-control" value="">
    </div>
    <div class="form-group">
        <label for="hasta" class="col-form-label"></label>
        <input type="date" id="hasta" class="form-control" value="">
    </div>
    <div class="form-group pt-5 pl-5">
        <input type="checkbox" class="form-check-input" id="checkAll">
        <label class="form-check-label" for="checkAll" id="allbit">Todos los Usuarios</label>
    </div>
    <div class="form-group pt-5">
        <span class="col pl-5"><a href="#" role="button" id="expandir" data-toggle="tooltip" data-placement="top"
                title="Expandir todo"><i class="far fa-plus-square"></i></a></span>
        <span class="col"><a href="#" id="contraer" data-toggle="tooltip" data-placement="top" title="Contraer todo"><i
                    class="far fa-minus-square"></i></a></span>
    </div>
</div>
<div class="row">
    <div class="accordion col-lg-12" id="bitacoras">
        @foreach (var Bitacora in Model.Bitacoras)
        {
        <div class="card">
            <div class="card-header color-head" id="heading-@Bitacora.Id">
                <h2 class="mb-0">
                    <button class="btn btn-bit collapsed" type="button" data-toggle="collapse"
                        data-target="#collapse-@Bitacora.Id" aria-controls="collapse-@Bitacora.Id">
                        @if(DateTime.MinValue.Date.ToString("dd/MM/yyyy").Equals(Bitacora.CierreSesion.Date.ToString("dd/MM/yyyy"))){
                            <span> @Bitacora.InicioSesion.ToString("dd/MM/yyy") (@Bitacora.InicioSesion.ToString("hh:mm tt") - en curso) </span>
                        }else{
                            @if(Bitacora.InicioSesion.Date.CompareTo(Bitacora.CierreSesion.Date) != 0){
                                <span> @Bitacora.InicioSesion.ToString("dd/MM/yyyy hh:mm tt") - @Bitacora.CierreSesion.ToString("dd/MM/yyyy hh:mm tt")</span>
                            }else{
                                <span> @Bitacora.InicioSesion.ToString("dd/MM/yyy") (@Bitacora.InicioSesion.ToString("hh:mm tt") - @Bitacora.CierreSesion.ToString("hh:mm tt")) </span>
                            }
                        }
                        <i class="fas fa-chevron-down"></i>
                    </button>
                </h2>
            </div>
            <div id="collapse-@Bitacora.Id" class="collapse" aria-labelledby="heading-@Bitacora.Id">
                <div class="card-body">
                    <div class="col-lg-12 contenedor">
                        <div class="box">
                                @if(Bitacora.Accion.Count == 0){
                                    <label class="text-white">Sin acciones</label>
                                }else{
                                    <ul id="first-list">
                                        @foreach (var accion in Bitacora.Accion)
                                        {

                                            <li>
                                                <span></span>
                                                <div class="info">@accion.Descripcion</div>
                                                <div class="time">
                                                    <span>@accion.Hora.ToString("dd, MM")</span>
                                                    <span>@accion.Hora.ToString("hh:mm tt")</span>
                                                </div>
                                            </li>   
                                        }
                                    </ul>
                                }
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        }
    </div>
</div>

@section Scripts{
<script>
    var Expandir = document.getElementById("expandir");
    var Contraer = document.getElementById("contraer");
    var btn = document.getElementsByClassName("btn btn-light collapsed");
    var fdesde = document.querySelector("#desde");
    var fhasta = document.querySelector("#hasta");
    fdesde.addEventListener("input", (e)=>{
        debugger;
        let cdesde = e.currentTarget.value;
        let chasta = document.querySelector("#hasta").value;
        if(cdesde.length == 10 && chasta.length == 10){
            //llamada al metodo filtrar por fecha
            if(document.querySelector("#opc").value == "one"){
                filtrarFechOne(cdesde, chasta, document.querySelector("#idusuario").value);
            }else{
                filtrarFechAll(cdesde, chasta);
            }
        }
    });
    fhasta.addEventListener("input", (e)=>{
        debugger;
        let chasta = e.currentTarget.value;
        let cdesde = document.querySelector("#desde").value;
        if(cdesde.length == 10 && chasta.length == 10){
            //llamada al metodo filtrar por fecha
            if(document.querySelector("#opc").value == "one"){
                filtrarFechOne(cdesde, chasta, document.querySelector("#idusuario").value);
            }else{
                filtrarFechAll(cdesde, chasta);
            }
        }
    });
    for (var i = 0; i < btn.length; i++) {
        btn[i].addEventListener("click", (e) => {
            var btn = e.currentTarget;
            if (btn.children[0].className == "fas fa-chevron-right") {
                btn.children[0].className = "fas fa-chevron-down";
            } else {
                if (btn.children[0].className == "fas fa-chevron-down") {
                    btn.children[0].className = "fas fa-chevron-right";
                }
            }
        });
    }
    Expandir.addEventListener("click", () => {
        let colapse = document.getElementsByClassName("card");
        for (var i = 0; i < colapse.length; i++) {
            colapse[i].children[0].children[0].children[0].children[0].className = 'fas fa-chevron-right';
            colapse[i].children[1].className = "collapse show";
        }
    });
    Contraer.addEventListener("click", () => {
        let colapse = document.getElementsByClassName("card");
        for (var i = 0; i < colapse.length; i++) {
            colapse[i].children[0].children[0].children[0].children[0].className = 'fas fa-chevron-down';
            colapse[i].children[1].className = "collapse";
        }
    });
    var CheckAll = document.getElementById("checkAll");
    CheckAll.addEventListener("click", (e) => {
        var element = e.currentTarget;
        if(element.checked){
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.querySelector("#bitacoras").innerHTML = this.responseText;
                    document.getElementById("titulo").innerHTML = "Actividad de Todos los Usuarios";
                    document.querySelector("#opc").value = "all";
                }
            };
            xhttp.open("POST", "BitacoraView", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            var inputToken = document.getElementsByName("__RequestVerificationToken");
            xhttp.setRequestHeader("RequestVerificationToken", inputToken[0].value);
            xhttp.send();
        }else{
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.querySelector("#bitacoras").innerHTML = this.responseText;
                    document.getElementById("titulo").innerHTML = "Actividad de " + document.querySelector("#nombre").value;
                    document.querySelector("#opc").value = "one";
                }
            };
            xhttp.open("POST", "BitacoraView?handler=Bitacora", true);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            var inputToken = document.getElementsByName("__RequestVerificationToken");
            xhttp.setRequestHeader("RequestVerificationToken", inputToken[0].value);
            xhttp.send(`IdUsuario=${document.querySelector("#idusuario").value}`);
        }
    });
    function filtrarFechOne(desde, hasta, IdUsuario){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.querySelector("#bitacoras").innerHTML = this.responseText;
                document.getElementById("titulo").innerHTML = "Actividad de " + document.querySelector("#nombre").value;
                document.querySelector("#opc").value = "one";
            }
        };
        xhttp.open("POST", "BitacoraView?handler=BitacoraFechaOne", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var inputToken = document.getElementsByName("__RequestVerificationToken");
        xhttp.setRequestHeader("RequestVerificationToken", inputToken[0].value);
        xhttp.send(`desde=${desde}&hasta=${hasta}&IdUsuario=${IdUsuario}`);
    }
    function filtrarFechAll(desde, hasta){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.querySelector("#bitacoras").innerHTML = this.responseText;
                document.getElementById("titulo").innerHTML = "Actividad de Todos los Usuarios";
                document.querySelector("#opc").value = "all";
            }
        };
        xhttp.open("POST", "BitacoraView?handler=BitacoraFechaAll", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var inputToken = document.getElementsByName("__RequestVerificationToken");
        xhttp.setRequestHeader("RequestVerificationToken", inputToken[0].value);
        xhttp.send(`desde=${desde}&hasta=${hasta}`);
    }
</script>
}