@page
@model Empleados.ListaEmpleadoModel

@{
ViewData["title"] = "Lista de Empleados";
}

<!-- DataTales -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tabla Empleados</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <label class="col-lg-1" for="selmost">Mostrar</label>
            <select class="form-control col-sm-1" id="selmost">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
            </select>
            <label class="mx-3">Registros</label>
            <div class="search-box">
                <input type="text" class="search-txt" placeholder="Buscar..." />
                <a class="search-btn" href="#">
                    <i class="fas fa-search"></i>
                </a>
            </div>
        </div>
        <div class="table-responsive pt-3">
            <table class="table table-sm table-hover bg-white" cellspacing="0">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Teléfono</th>
                        <th>Privilegio</th>
                        <th>Estado</th>
                        <th>Bitacora</th>
                        <th>Ver más</th>
                    </tr>
                </thead>
                <tbody id="bodyempleados">
                    @foreach(var Empleado in Model.Empleados){
                    <tr data-idtre="tr-@Empleado.Id">
                        <td>@Empleado.IdPersonaNavigation.Nombres
                            @Empleado.IdPersonaNavigation.Apellidos
                        </td>
                        <td>@Empleado.IdPersonaNavigation.Telefono</td>
                        <td>@if(@Empleado.IdUsuarioNavigation.Privilegio == 1){<span>Administrador</span>}else{<span>Vendedor</span>}</td>
                        <td>
                            @if(@Empleado.IdUsuarioNavigation.Estado == 1){
                                <div class="col-form-label custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="@Empleado.Id" checked>
                                    <label class="custom-control-label" for="@Empleado.Id">Activo</label>
                                </div>
                            }else{
                                if(@Empleado.IdUsuarioNavigation.Estado == 0){
                                    <div class="col-form-label custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="@Empleado.Id">
                                        <label class="custom-control-label" for="@Empleado.Id">Inactivo</label>
                                    </div>
                                }
                            }
                        </td>
                        <td>
                            <a class="btn btn-outline-info" asp-page="/Empleados/BitacoraView"><i class="fas fa-eye"></i>Ver</a>
                        </td>
                        <td><label class="col-form-label ml-4"><i class="fas fa-bars mano text-primary" id="@Empleado.Id"></i></label></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col offset-5">
                <nav aria-label="Paginacion">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Anterior</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Siguiente</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<form method="post"></form>
<!-- End Datatables -->
@section modal
{
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="empleadomodal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="companiaModalLabel">Datos de Empleado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalcuerpo">
            </div>
        </div>
    </div>
</div>
}
@section Scripts
{
<script src="~/js/busqueda.js"></script>
<script>
    var btnVermas = document.querySelector("#bodyempleados");
    var modalCuerpo = document.querySelector("#modalcuerpo");
    var tract;
    btnVermas.addEventListener("click", (e)=>{
        var element = e.target;
        if(element.classList.contains("fa-bars")){
            ObtenerEmpleado(element.id);
            tract = "tr-"+element.id;
        }else{
            if(element.classList.contains("custom-control-input")){
                ChangeState(element);
            }
        }
    });
    modalCuerpo.addEventListener("click", (e)=>{
        var element = e.target;
        if(element.classList.contains("fa-save") || element.classList.contains("btn-outline-primary")){
            //Aqui se va a ir el cambio por ajax
            document.querySelector("#btnsave").setAttribute("hidden","");
            document.querySelector("#btnmod").removeAttribute("hidden");
            PonerRead();
            Actualizar();
        }else{
            if(element.classList.contains("fa-pencil-alt") || element.classList.contains("btn-outline-warning")){
                document.querySelector("#btnsave").removeAttribute("hidden");
                document.querySelector("#btnmod").setAttribute("hidden","");
                QuitarRead();
            }
        }
    });
    function Actualizar(){
        //Aqui se va a enviar el Formulario al servidor via ajax
        let form = new FormData(document.querySelector("#formEUP"));
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if(this.readyState == 4 && this.status == 200){
                var Empleado = JSON.parse(this.responseText);
                var lbgen = document.querySelector("#lbgen");
                if(Empleado.genero == 1){
                    lbgen.innerHTML = '<span class="text-primary"><i class="fas fa-male"></i> Masculino</span>';
                }else{
                    lbgen.innerHTML = '<span style="color: pink"><i class="fas fa-female"></i> Femenino</span>';
                }
                var tr = document.querySelector("tr[data-idtre="+tract+"]");
                tr.children[0].innerHTML = Empleado.nombre;
                tr.children[1].innerHTML = Empleado.telefono;
                if(Empleado.privilegio == 1){
                    tr.children[2].innerHTML = "Administrador";
                }else{
                    tr.children[2].innerHTML = "Vendedor";
                }
            }
        };
        xhttp.open("POST", "ListaEmpleado?handler=EditEmpleado", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var inputToken = document.getElementsByName("__RequestVerificationToken");
        xhttp.setRequestHeader("RequestVerificationToken", inputToken[0].value);
        xhttp.send(new URLSearchParams(form));
    }
    //Cambia el estado de un Usuario
    function ChangeState(inputCheck){
        var Estado = 0;
        var IdUsuario = inputCheck.id;
        if(inputCheck.checked){
            Estado = 1;
        }
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                if(inputCheck.checked){
                    inputCheck.nextElementSibling.innerHTML="Activo";
                }else{
                    inputCheck.nextElementSibling.innerHTML="Inactivo";
                }
            }
        };
        xhttp.open("POST", "ListaEmpleado?handler=Estado", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var inputToken = document.getElementsByName("__RequestVerificationToken");
        xhttp.setRequestHeader("RequestVerificationToken", inputToken[0].value);
        xhttp.send("IdUsuario="+IdUsuario+"&Estado="+Estado);
    }
    //Cambia de div dentro del modal (oculta)
    function Change(){
        var FrmEmpleado = document.querySelector("#FormEmpleado");
        var FrmUsuario = document.querySelector("#FormUsuario");
        var divsig = document.querySelector("#divsig");
        var divbp = document.querySelector("#divbp");
        FrmEmpleado.setAttribute("hidden","");
        FrmUsuario.removeAttribute("hidden");
        divsig.setAttribute("hidden","");
        divbp.removeAttribute("hidden");
    }
    function RevertChange(){
        var FrmEmpleado = document.querySelector("#FormEmpleado");
        var FrmUsuario = document.querySelector("#FormUsuario");
        var divsig = document.querySelector("#divsig");
        var divbp = document.querySelector("#divbp");
        FrmUsuario.setAttribute("hidden","");
        FrmEmpleado.removeAttribute("hidden");
        divbp.setAttribute("hidden","");
        divsig.removeAttribute("hidden");
    }
    //Obtiene un empleado de la base de datos mediante un id
    function ObtenerEmpleado(id){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                modalCuerpo.innerHTML = this.responseText;
                var gens = [
                    {elemento: '', texto:'Seleccione'},
                    {elemento: '<i class="fas fa-female"></i>', texto:'Femenino'},
                    {elemento: '<i class="fas fa-male"></i>', texto:'Masculino'}
                ];
                $('.custom-options').selectric({
                    optionsItemBuilder: function(itemData, element, index) {
                        return '<span class="h6">'+gens[index].elemento+' '+gens[index].texto+'</span>';
                    }
                });
                $('#empleadomodal').modal('show');
            }
        };
        xhttp.open("POST", "ListaEmpleado?handler=EmpleadoView", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        var inputToken = document.getElementsByName("__RequestVerificationToken");
        xhttp.setRequestHeader("RequestVerificationToken", inputToken[0].value);
        xhttp.send("IdEmpleado="+id);
    }
    function PonerRead(){
        document.querySelector("#Empleado_IdPersonaNavigation_Nombres").setAttribute("readonly","");
        document.querySelector("#Empleado_IdPersonaNavigation_Apellidos").setAttribute("readonly","");
        document.querySelector("#dgen").setAttribute("hidden","");
        document.querySelector("#lbgen").removeAttribute("hidden");
        document.querySelector("#Empleado_IdPersonaNavigation_Telefono").setAttribute("readonly","");
        document.querySelector("#Empleado_IdPersonaNavigation_Direccion").setAttribute("readonly","");
        document.querySelector("#Empleado_Dui").setAttribute("readonly","");
        document.querySelector("#Empleado_FechaNacimiento").setAttribute("readonly","");
        document.querySelector("#Empleado_FechaIngreso").setAttribute("readonly","");
        document.querySelector("#Empleado_IdUsuarioNavigation_Nombre").setAttribute("readonly","");
        document.querySelector("#Empleado_IdUsuarioNavigation_Correo").setAttribute("readonly","");
        document.querySelector("#Empleado_IdUsuarioNavigation_Clave").setAttribute("readonly","");
    }
    function QuitarRead(){
        document.querySelector("#Empleado_IdPersonaNavigation_Nombres").removeAttribute("readonly");
        document.querySelector("#Empleado_IdPersonaNavigation_Apellidos").removeAttribute("readonly");
        document.querySelector("#dgen").removeAttribute("hidden");
        document.querySelector("#lbgen").setAttribute("hidden","");
        document.querySelector("#Empleado_IdPersonaNavigation_Telefono").removeAttribute("readonly");
        document.querySelector("#Empleado_IdPersonaNavigation_Direccion").removeAttribute("readonly");
        document.querySelector("#Empleado_Dui").removeAttribute("readonly");
        document.querySelector("#Empleado_FechaNacimiento").removeAttribute("readonly");
        document.querySelector("#Empleado_FechaIngreso").removeAttribute("readonly");
        document.querySelector("#Empleado_IdUsuarioNavigation_Nombre").removeAttribute("readonly");
        document.querySelector("#Empleado_IdUsuarioNavigation_Correo").removeAttribute("readonly");
        document.querySelector("#Empleado_IdUsuarioNavigation_Clave").removeAttribute("readonly");
    }
</script>
}