@page
@model Ofertas.ListaOfertaModel
@{
    ViewData["Title"] = "Lista de Ofertas";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Datos</h6>
    </div>
    <div class="px-3 table-responsive pt-3">
        <table class="table table-sm table-hover bg-white" cellspacing="0">
            <!--Encabezado de tabla-->
            <thead class="thead-dark">
                <tr>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Producto</th>
                    <th>Descuento</th>
                    <th>Precio Normal</th>
                    <th>Precio Oferta</th>
                </tr>
            </thead>
            <!--fin Encabezado de tabla-->
            <!--filas de tabla-->
            <tbody>
                @foreach(var Detalle in Model.OfertaProducto){
                    <tr>
                        <td>@Detalle.IdOfertaNavigation.FechaInicio.ToString("dd-MM-yyyy")</td>
                        <td>@Detalle.IdOfertaNavigation.FechaFin.ToString("dd-MM-yyyy")</td>
                        <td>@Detalle.IdProductoNavigation.Nombre</td>
                        <td>@Detalle.IdOfertaNavigation.Descuento %</td>
                        <td>$ @Detalle.IdProductoNavigation.Precioventa[@Detalle.IdProductoNavigation.Precioventa.Count-1].Valor</td>
                        <td>$ @{
                                var pv = Detalle.IdProductoNavigation.Precioventa[Detalle.IdProductoNavigation.Precioventa.Count-1].Valor;
                                var desc = @Detalle.IdOfertaNavigation.Descuento;
                                var po = (pv - (pv*((decimal)desc*(decimal) (0.01))));
                                po = Math.Round(po, 2, MidpointRounding.ToEven);
                            }
                            @po</td>
                    </tr>
                }
            </tbody>
            <!--fin de fila de tabla-->
        </table>
    </div>
    <div class="row">
        <div class="col offset-5">
            <nav aria-label="Paginacion ">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Anterior</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Siguiente</span>
                    </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

@section Scripts{
<link href="~/selectric/src/selectric.css" rel="stylesheet">
<script src="~/selectric/src/jquery.selectric.js"></script>
<script>
    $(function () {
        $('select').selectric();
    });
</script>
}
